<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
  </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container"> 
    <ion-button [routerLink]="['/incidencias']" color="primary" expand="block">Incidencias</ion-button>
    <ion-button [routerLink]="['/comunicaciones']" color="primary" expand="block">Comunicaciones Internas</ion-button>
  </div>
</ion-content>
